@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

nav {
  width: 100%;
  height: 11vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div {
  display: flex;
  gap: 22px;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
}
nav div .download_button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #4f4f4f;
}
nav div .submit_button {
  background: linear-gradient(97.12deg, #0028d0 1.93%, #ee2631 53.52%, #fbd240 100%);
  border-radius: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.253657px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 10px 20px;
}
nav div .login_button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.253657px;
  text-transform: capitalize;
  border: 1px solid linear-gradient(96.86deg, #0075ff -5.29%, #ee2631 49.29%, #fbd240 98.46%);
  border-radius: 50px;
  padding: 10px 20px;
  background: linear-gradient(96.86deg, #0075ff -5.29%, #ee2631 49.29%, #fbd240 98.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

header .banner {
  background: url("/assets/images/banner.svg");
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
}
header .mobile_content {
  display: none;
}

.banner_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.banner_content h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  color: #ffffff;
}
.banner_content .icons_section {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  align-items: end;
}
.banner_content .icons_section img {
  margin-left: 2px;
}
.banner_content .icons_section p {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  color: #ffffff;
  margin-left: 12px;
}
.banner_content p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.banner_section {
  height: 615px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 50px;
}

.btn_ {
  border: none;
  background-color: transparent;
}

.banner_buttons {
  display: flex;
}

.gohighr_btn {
  background: #ee2631;
  border-radius: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.253657px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 10px 20px;
}

.red_btn {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.226411px;
  text-transform: capitalize;
  color: #ee2631;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  gap: 3.5px;
}

.about_card, .about_section div :nth-child(3) div, .about_section div :nth-child(2) div, .about_section div :first-child div {
  border-radius: 30px;
  width: 100%;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_card_default_props, .about_section div :nth-child(2) div, .about_section div :first-child div {
  display: flex;
  gap: 25px;
  justify-content: center;
}
.about_card_default_props h2, .about_section div :nth-child(2) div h2, .about_section div :first-child div h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 25px;
  text-align: center;
  color: #fff5e7;
}
.about_card_default_props p, .about_section div :nth-child(2) div p, .about_section div :first-child div p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  color: #f2f2f2;
}

.about_section div :first-child div {
  background-color: #f9c146;
}
.about_section div :first-child div .line {
  background-color: #fff;
  width: 60%;
  height: 1px;
}
.about_section div :first-child div div {
  display: flex;
  flex-direction: row;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  color: #fff5e7;
}
.about_section div :first-child div div h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
}
.about_section div :first-child div div h3 span {
  font-weight: 900;
  font-size: 40px;
  line-height: 45px;
}
.about_section div :nth-child(2) div {
  background-color: #2f80ed;
}
.about_section div :nth-child(2) div .line {
  background-color: #fff;
  width: 60%;
  height: 1px;
}
.about_section div :nth-child(3) div {
  gap: 25px;
  justify-content: center;
  border: 1px solid #eb5757;
}
.about_section div :nth-child(3) div p {
  width: 90%;
  font-size: 20px;
  color: #1b0330;
}

.about_course_section {
  margin-top: 180px;
}
.about_course_section div .about_course_section_content {
  height: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.about_course_section div .about_course_section_content h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 68px;
  color: #eb5757;
}
.about_course_section div .about_course_section_content p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #4f4f4f;
}
.about_course_section div div img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.addon_course_section {
  margin-top: 70px;
}
.addon_course_section div .addon_course_section_content {
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: start;
}
.addon_course_section div .addon_course_section_content h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 68px;
  color: #f9c146;
}
.addon_course_section div .addon_course_section_content p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #4f4f4f;
}
.addon_course_section div .addonn_img_section {
  display: flex;
  justify-content: end;
}
.addon_course_section div .addonn_img_section .addonn_img {
  height: 445px;
  -o-object-fit: contain;
     object-fit: contain;
}
.addon_course_section .mobile_button {
  display: none;
}

.course_details_content {
  width: 100%;
  height: 325px;
  background: #ffebbf;
  border: 1px solid #ffde97;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 45px;
}
.course_details_content h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 100%;
  color: #f47066;
}
.course_details_content p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-transform: capitalize;
  color: #7b5a11;
}

.module_section {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  gap: 43px;
}
.module_section h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #eb5757;
}
.module_section .module_cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}
.module_section .module_cards .module_card {
  padding: 35px;
  width: 30%;
  height: 173px;
  border: 1px solid #ffde97;
  filter: drop-shadow(0px 183px 73px rgba(78, 45, 0, 0.01)) drop-shadow(0px 103px 62px rgba(78, 45, 0, 0.03)) drop-shadow(0px 46px 46px rgba(78, 45, 0, 0.05)) drop-shadow(0px 11px 25px rgba(78, 45, 0, 0.06)) drop-shadow(0px 0px 0px rgba(78, 45, 0, 0.06));
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
}
.module_section .module_cards .module_card .module_heading {
  display: flex;
  justify-content: space-between;
}
.module_section .module_cards .module_card .module_heading h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  text-transform: capitalize;
  color: #828282;
}
.module_section .module_cards .module_card .module_heading .dur {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  gap: 4px;
}
.module_section .module_cards .module_card .module_heading .dur img {
  margin-top: 2px;
}
.module_section .module_cards .module_card .module_heading .dur h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #828282;
}
.module_section .module_cards .module_card h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 100%;
  color: #f47066;
}

@media (max-width: 730px) {
  nav div .submit_button {
    font-size: 14px;
    padding: 7px 15px;
  }
  header .banner {
    background: url("/assets/images/banner_mobile.svg");
    height: 508px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
  }
  header .mobile_content {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
  header .mobile_content p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #4f4f4f;
  }
  .banner_content {
    gap: 25px;
  }
  .banner_content h2 {
    font-size: 28px;
  }
  .banner_content .icons_section {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .banner_content .icons_section .icons img {
    margin-left: 5px;
  }
  .banner_content .icons_section p {
    font-size: 16px;
    display: flex;
    margin-left: 5px;
  }
  .banner_content p {
    display: none;
  }
  .banner_section {
    height: 508px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 3vh;
  }
  .banner_buttons {
    display: none;
  }
  .gohighr_btn {
    font-size: 16px;
    padding: 10px 20px;
  }
  .red_btn {
    font-size: 24px;
    gap: 3.5px;
  }
  .about_card, .about_section div :first-child div, .about_section div :nth-child(2) div, .about_section div :nth-child(3) div {
    height: 190px;
  }
  .about_card_default_props, .about_section div :first-child div, .about_section div :nth-child(2) div {
    gap: 10px;
    justify-content: center;
  }
  .about_card_default_props h2, .about_section div :first-child div h2, .about_section div :nth-child(2) div h2 {
    font-size: 20px;
  }
  .about_card_default_props p, .about_section div :first-child div p, .about_section div :nth-child(2) div p {
    font-size: 14px;
    line-height: 18px;
  }
  .about_section div :first-child div {
    background-color: #f9c146;
  }
  .about_section div :first-child div .line {
    background-color: #fff;
    width: 60%;
    height: 2px;
  }
  .about_section div :first-child div div h3 {
    font-size: 16px;
  }
  .about_section div :first-child div div h3 span {
    font-size: 24px;
  }
  .about_section div :nth-child(2) div {
    height: 250px;
    background-color: #2f80ed;
  }
  .about_section div :nth-child(2) div .line {
    background-color: #fff;
    width: 60%;
    height: 1px;
  }
  .about_section div :nth-child(3) div {
    height: 250px;
    gap: 20px;
    padding: 10px;
  }
  .about_section div :nth-child(3) div p {
    width: 100%;
    font-size: 14px;
  }
  .about_course_section {
    margin-top: 100px;
  }
  .about_course_section div .about_course_section_content {
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
  }
  .about_course_section div .about_course_section_content h1 {
    font-size: 28px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .about_course_section div .about_course_section_content p {
    font-size: 14px;
    line-height: 130%;
  }
  .about_course_section div div img {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .course_details_content {
    height: 220px;
    padding: 30px;
    gap: 10px;
  }
  .course_details_content h1 {
    font-size: 20px;
  }
  .course_details_content p {
    font-size: 14px;
  }
  .addon_course_section {
    margin-top: 80px;
  }
  .addon_course_section div .addon_course_section_content {
    height: 327px;
    gap: 0px;
  }
  .addon_course_section div .addon_course_section_content h1 {
    font-size: 20px;
  }
  .addon_course_section div .addon_course_section_content p {
    font-size: 14px;
    line-height: 17px;
  }
  .addon_course_section div .addon_course_section_content button {
    display: none;
  }
  .addon_course_section div .addonn_img_section .addonn_img {
    height: 327px;
    width: 100%;
  }
  .addon_course_section .mobile_button {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 22px;
  }
  .module_section {
    margin-top: 80px;
    gap: 30px;
  }
  .module_section h1 {
    font-size: 28px;
    line-height: 120%;
  }
  .module_section .module_cards {
    gap: 10px;
  }
  .module_section .module_cards .module_card {
    width: 48%;
    height: 105px;
    padding: 20px 17px;
    border-radius: 10px;
    gap: 13px;
  }
  .module_section .module_cards .module_card .module_heading h2 {
    font-size: 14px;
    line-height: 31px;
  }
  .module_section .module_cards .module_card .module_heading .dur {
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
    align-items: center;
    gap: 4px;
  }
  .module_section .module_cards .module_card .module_heading .dur img {
    margin-top: 2px;
  }
  .module_section .module_cards .module_card .module_heading .dur h3 {
    font-size: 14px;
  }
  .module_section .module_cards .module_card h1 {
    font-size: 16px;
  }
}/*# sourceMappingURL=styles.css.map */