.sub_hero {
  background: url("assets/images/illustration_3.svg");
  background-color: #27ae60;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 4vh 10vw;
  width: 93%;
  margin: 10vh auto;

  div {
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    color: #fff;
    text-align: center;
    padding: 4vh 0vw;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div > button {
    font-family: "Manrope";
    width: max(20vw, 15rem);
    padding: 0.8rem;
  }
}

.technologies {
  margin-top: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    font-family: "Roboto";
    font-weight: 900;
    font-style: normal;
    font-size: 3em;
    color: #27ae60;
  }

  .tech_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 5vh;

    .card {
      width: max(8vw, 5em);
      height: max(8vw, 5em);
      background-color: #27ae60;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 50%;
        height: 50%;
      }
    }
  }

  .more_info {
    font-family: "Roboto";
    font-weight: 900;
    font-style: normal;
    font-size: 1.8em;
    color: rgba(79, 79, 79, 1);
    margin: 5vh;
  }

  div > button {
    font-family: "Manrope";
    width: max(20vw, 15rem);
    padding: 0.8rem;
  }

  
}

.mentor-card{
  background: url("assets/images/illustration_3.svg");
  background-color: #27ae60;
  background-size: center;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 4vh;
  width: 40%;
  margin: 5vh auto; 
  display: flex;
  justify-content: center;
  align-items: center;

  .cd-body{
    display:  flex;
    align-items: center;
  }

  .card-body{
    padding: 2vh 2vw;
    // font-family: "system-ui";

    .card-title{
      font-weight: 900;
      font-style: normal;
      color: #fff;
    }

    .container{
      background-color: #fff;
      font-weight: 700;
      font-style: normal;
      border-radius: 13px;
      padding: 2vh 1vw;

      .card-text:nth-child(2){
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 768px) {
  .sub_hero {
    div {
      font-size: 24px;
    }
  }
  .technologies {
    .header {
      font-size: 24px;
    }
    .more_info {
      font-size: 18px;
    }
  }

  .mentor-card{
    width: 60%;
    margin: 5vh auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;

    .mntr-img{
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 70%;
      }
    }

  
    .card-body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      padding: 2vh 2vw;
      // font-family: "system-ui";
  
      .card-title{
        font-weight: 900;
        font-style: normal;
        color: #fff;
      }
  
      .container{
        background-color: #fff;
        font-weight: 700;
        font-style: normal;
        border-radius: 13px;
        padding: 2vh 1vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        .card-text:nth-child(2){
          font-weight: 400;
        }
      }
    }
  }
}
